<form class="form-markdown">
  <div class="form-group form-markdown-group">
    <label class="control-label">
      <%
        if (glyphicon) {
          %><span class="glyphicon <%= glyphicon %>"></span><%
        }
      %> <%= label %>
    </label>
    <textarea name="markdown-text" class="form-control" rows="<%= rows %>" placeholder="<%= placeholder %>"><%= markdown %></textarea>
    <div class="pull-right">
      <a class="markdown-syntax-open" href="#">Syntax Help</a>
    </div>
  </div>
</form>

<div class="markdown-syntax well hidden">
  <%= markdownSyntax %>
</div>
