<div class="btn-toolbar" role="toolbar">
  <div class="btn-group" role="group" aria-label="map management">
    <button id="tresdb-menu-search" type="button" class="btn btn-primary"><%= glyphicon({ name: 'search' }) %> Search</button>
    <button id="tresdb-menu-list" type="button" class="btn btn-primary"><%= glyphicon({ name: 'th-list' }) %> List</button>
    <button id="tresdb-menu-add" type="button" class="btn btn-primary"><%= glyphicon({ name: 'map-marker' }) %> Add</button>
  </div>
  <div class="btn-group" role="group" aria-label="user management">
    <button id="tresdb-menu-account" type="button" class="btn btn-default"><%= glyphicon({ name: 'user' }) %> Account</button>
    <button id="tresdb-menu-logout" type="button" class="btn btn-default"><%= glyphicon({ name: 'off' }) %><span class="sr-only">Log out</span></button>
  </div>
</div>
