<div class="georap-login-container">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1><%= title %></h1>
    </div>
    <div class="col-md-4 col-sm-6">

      <div id="georap-login-incorrect" class="hidden">
        <div class="alert alert-danger" role="alert">Incorrect email or password. Check and try again.</div>
      </div>

      <div id="georap-login-invalid-email" class="hidden">
        <div class="alert alert-danger" role="alert">Ensure the given username or email address is correct.</div>
      </div>

      <div id="georap-login-invalid-password" class="hidden">
        <div class="alert alert-danger" role="alert">Your password cannot be empty.</div>
      </div>

      <div id="georap-login-server-error" class="hidden">
        <div class="alert alert-danger" role="alert">We failed to log you in due to some mysterious server issues. Please try again later.</div>
      </div>

      <div id="georap-login-deactivated" class="hidden">
        <div class="alert alert-warning" role="alert"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> <span id="georap-login-deactivated-message">Your account is deactivated.</span></div>
      </div>

      <div id="georap-login-in-progress" class="hidden">
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-<%= loginColor %> active" role="progressbar" style="width: 100%">
            <span class="sr-only">Waiting for server</span>
          </div>
        </div>
      </div>

      <form id="georap-login-form">
        <div class="form-group">
          <label for="georap-login-email"><%= __('email-or-username') %>:</label>
          <input type="text" class="form-control" id="georap-login-email">
        </div>
        <div class="form-group">
          <label for="georap-login-password"><%= __('password') %>:</label>
          <input type="password" class="form-control" id="georap-login-password">
        </div>
        <div class="pull-right">
          <a id="georap-password-reset-button" href="#"><%= __('forgot-password') %></a>
        </div>
        <button type="submit" class="btn btn-<%= loginColor %>"><%= __('log-in') %></button>
      </form>

      <p>
        <% availableLocales.forEach(function (locale, index) { %>
          <%= index > 0 ? '-' : '' %>
          <a href="?locale=<%= locale %>" lang="<%= locale %>" target="_self">
            <%= __('locale-native', locale) %>
          </a>
        <% }) %>
      </p>

      <!-- Password reset -->
      <div id="georap-password-reset">

        <div id="georap-password-reset-invalid-email" class="hidden">
          <div class="alert alert-danger" role="alert">Ensure the given email address is correct and has a format similar to <em>john.doe@example.com</em> or <em>myname@example.com</em>.</div>
        </div>

        <div id="georap-password-reset-unknown-email" class="hidden">
          <div class="alert alert-danger" role="alert">No user with this email exists. Please ensure that the email address is correct.</div>
        </div>

        <div id="georap-password-reset-server-error" class="hidden">
          <div class="alert alert-danger" role="alert">We failed to send the password reset message to your email. Please try again later.</div>
        </div>

        <div id="georap-password-reset-success" class="hidden">
          <div class="alert alert-success" role="alert">Password reset message was sent successfully. Please check your email.</div>
        </div>

        <div id="georap-password-reset-in-progress" class="hidden">
          <div class="progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%">
              <span class="sr-only">Waiting for server</span>
            </div>
          </div>
        </div>

        <!-- Reset form -->
        <form id="georap-password-reset-form" class="hidden">
          <p><%= __('forgot-password-help') %></p>
          <div class="form-group">
            <label for="georap-password-reset-email"><%= __('email-address') %>:</label>
            <input type="email" class="form-control" id="georap-password-reset-email">
          </div>
          <button type="submit" class="btn btn-primary"><%= __('send-email') %></button>
        </form>
      </div><!-- #georap-password-reset -->

    </div>
  </div><!-- .row -->
</div><!-- .container-fluid -->
</div>
