<% var j, tag, isActive; %>
<div class="tresdb-tags-form">

  <button id="tresdb-tag-default" class="<%= typeTags.length === 0 ? 'tresdb-tag-active' : '' %>">
    <span class="tresdb-tag"><img src="<%= tagToSymbolUrl('default') %>" title="default" width="22" height="40"></span>
  </button>

  <%
    for (j = 0; j < allTags.length; j += 1) {
      tag = allTags[j];
      isActive = (typeTags.indexOf(tag) > -1);
  %><button id="tresdb-tag-<%= tag %>" class="<%= isActive ? 'tresdb-tag-active' : '' %>">
      <span class="tresdb-tag"><img src="<%= tagToSymbolUrl(tag) %>" title="<%= tag %>" width="22" height="40"></span>
    </button><%
    } %>

</div>
