<% var j, tag, isActive; %>
<div class="container-fluid">
  <div class="row tresdb-tags">
    <% for (j = 0; j < allTags.length; j += 1) { %>
      <% tag = allTags[j]; %>
      <% isActive = (locationTags.indexOf(tag) > -1); %>
      <% if (isActive) { %>

        <label id="tresdb-location-edit-tags-<%= tag %>" class="col-sm-5">
          <input type="checkbox" name="tags" value="<%= tag %>" checked="checked">
          <span class="label label-primary tresdb-tag"><%= tag %></span>
        </label>
      <% } else { %>
        <label id="tresdb-location-edit-tags-<%= tag %>" class="col-sm-5">
          <input type="checkbox" name="tags" value="<%= tag %>">
          <span class="label label-default tresdb-tag"><%= tag %></span>
        </label>
      <% } %>
    <% } %>
  </div>
</div>
