<table class="table">
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Role</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
  <% users.forEach(function (p) { %>
    <tr>
      <td><a href="/admin/users/<%= p.name %>"><%= p.name %></a></td>
      <td><%= p.email %></td>
      <td><%= p.admin ? 'Admin' : 'Normal' %></td>
      <td><%= p.status === 'active' ? 'Active' : 'Deactivated' %></td>
    </tr>
  <% }); %>
  </tbody>
</table>
