<div class="panel panel-default">
  <div class="panel-heading">
    <%= __('move-post') %>
  </div>
  <div class="panel-body">
    <form class="entry-move-form">

      <div class="form-group"><%= __('move-post-search') %></div>

      <div class="select-location-container form-group"></div>

      <div class="form-group clearfix">
        <div class="pull-right">
          <button type="button" class="entry-move-cancel btn btn-default"><%= __('cancel') %></button>
          <button type="submit" class="entry-move-submit btn btn-warning" disabled="disabled"><%= __('move') %></button>
        </div>
        <strong class="entry-move-hint hidden"><%= __('move-post-confirm') %></strong>
      </div>
    </form>

    <div class="entry-move-progress"></div>
    <div class="entry-move-error"></div>
  </div>
</div>
