<a href="/users/<%= username %>"><%= username %></a>
<%= __('user-created-post') %> <%= flagstamp %>
<% if (locationstamp) { %>
<%= __('user-created-post-to') %> <%= locationstamp %>
<% } %>
<%= timestamp %>
