<div id="tresdb-toolbar-main">

  <div class="btn-toolbar">
    <div class="dropdown btn-group">
      <button id="tresdb-mainmenu-account" type="button" data-toggle="dropdown" class="dropdown-toggle btn btn-default" aria-haspopup="true" aria-expanded="false">
        <%= glyphicon({ name: 'menu-hamburger' }) %>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="tresdb-mainmenu-account">
        <li>
          <a id="tresdb-mainmenu-add" href="#"><%= glyphicon({ name: 'map-marker' }) %> Add Location...</a>
        </li>
        <li role="separator" class="divider"></li>
        <li>
          <a id="tresdb-mainmenu-events" href="#"><%= glyphicon({ name: 'bell' }) %> Latest activity</a>
        </li>
        <li>
          <a id="tresdb-mainmenu-users" href="#"><%= glyphicon({ name: 'user' }) %> Members</a>
        </li>
        <li>
          <a id="tresdb-mainmenu-export" href="/export"><%= glyphicon({ name: 'export' }) %> Export locations...</a>
        </li>
        <li role="separator" class="divider"></li>
        <li class="dropdown-header">Account</li>
        <li>
          <a id="tresdb-mainmenu-user" href="#"><%= glyphicon({ name: 'user' }) %> <%= user.name %></a>
        </li>
        <li>
          <a id="tresdb-mainmenu-change-password" href="#"><%= glyphicon({ name: 'asterisk' }) %> Change password...</a>
        </li>

        <li role="separator" class="divider"></li>

        <% if (user.admin) { %>
          <li class="dropdown-header">Admin Only</li>
          <li>
            <a id="tresdb-mainmenu-invite" href="#"><%= glyphicon({ name: 'envelope' }) %> Invite...</a>
          </li>
          <li>
            <a id="tresdb-mainmenu-users-admin" href="#"><%= glyphicon({ name: 'user' }) %> Manage members...</a>
          </li>
          <li>
            <a id="tresdb-mainmenu-statistics" href="#"><%= glyphicon({ name: 'signal' }) %> Statistics</a>
          </li>
          <li role="separator" class="divider"></li>
        <% } %>

        <li>
          <a id="tresdb-mainmenu-logout" href="#"><%= glyphicon({ name: 'off' }) %> Log out</a>
        </li>
      </ul>
    </div><!-- .dropdown -->

    <form id="tresdb-mainmenu-search-form" class="input-group" style="width: 22em">
      <!--span class="input-group-btn">
        <button id="tresdb-mainmenu-filters" class="btn btn-default" type="button"><%= glyphicon({ name: 'filter' }) %>
          Filter...
          <span class="label label-danger">&nbsp;ON</span>
          <span class="label label-default">&nbsp;OFF</span>
        </button>
      </span-->
      <input id="tresdb-mainmenu-search-text" type="text" class="form-control" placeholder="search...">
      <span class="input-group-btn">
        <button id="tresdb-mainmenu-search-submit" class="btn btn-default" type="submit"><%= glyphicon({ name: 'search' }) %></button>
      </span>
    </form>
  </div><!-- .btn-toolbar -->

</div><!-- #main -->


<div id="tresdb-toolbar-addition" class="btn-toolbar hidden" role="toolbar">
  <div class="btn-group" role="group" aria-label="location tools">
    <button id="tresdb-addition-cancel" type="button" class="btn btn-default">Cancel</button>
  </div>

  <div class="btn-group" role="group" aria-label="location tools">
    <button id="tresdb-addition-create" type="button" class="btn btn-primary">Create here</button>
  </div>
</div>

<div id="tresdb-toolbar-progress" class="btn-toolbar hidden" role="toolbar">
  <div class="btn-group" role="group" style="width: 30em">
    <div class="progress">
      <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%">
        <span class="sr-only">Waiting for server</span>
      </div>
    </div>
  </div>
</div>

<div id="tresdb-toolbar-error" class="alert alert-danger hidden" role="alert">
  Failed to create location. Try again later.
</div>
