<div class="form-group">
  <label><%= __('search-locations') %>:</label>
  <input type="text" class="form-control location-search-input">
</div>

<div class="form-group">
  <h5><%= __('search-results') %>:</h5>
  <div class="location-search-results">
    <%= __('search-no-results') %>.
  </div>
</div>

<div class="form-group">
  <h5><%= __('selected-location') %>:</h5>
  <div class="location-search-selected">
    <%= __('selected-no-location') %>.
  </div>
</div>
