<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title><%= georap.config.title %></title>
    <meta name="description" content="<%= georap.config.description %>">

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Support for Add Home Screen feature aka native app like look. -->
    <link rel="manifest" href="/manifest.webmanifest">
    <!-- Open home screen shortcuts without nav bar -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta id="theme-color" name="theme-color" content="white">

    <!-- Icons -->
    <% if (georap.config.icons) { %>
    <% georap.config.icons.forEach((icon) => { %>
    <link rel="icon" type="<%= icon.type %>" sizes="<%= icon.sizes %>"
          href="/assets/<%= icon.src %>">
    <% }) %>
    <% } else { %>
      <link rel="icon" type="image/png" href="/assets/images/logo/16.png">
    <% } %>
    <% if (georap.config.appleTouchIcons) { %>
    <% georap.config.appleTouchIcons.forEach((icon) => { %>
    <link rel="apple-touch-icon-precomposed" type="<%= icon.type %>" sizes="<%= icon.sizes %>"
          href="/assets/<%= icon.src %>">
    <% }) %>
    <% } %>

    <!-- Stylesheets are included in the webpack bundle. -->
    <!-- See config/webpack.js for details. -->

    <!-- Bootstrap 3 styles -->
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <!-- Georap theme -->
    <link rel="stylesheet" href="/assets/themes/base.css">
    <link id="theme-stylesheet" rel="stylesheet" href="/assets/themes/light.css">
  </head>

  <body>
    <div id="map" class="georap-map"></div>

    <%# Note: #card-layer will be moved under #map after init. See #94 %>
    <div id="card-layer" class="hidden">
      <!-- a close icon will be inserted here -->
      <div class="card-layer-content"></div>
    </div>

    <!-- jQuery 3 (required by Bootstrap 3) -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"></script>

    <!-- Bootstrap 3 JavaScript -->
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>

    <!-- Site config variables -->
    <!-- See client/handlers.js for details -->
    <script>
      window.georap = <%- JSON.stringify(georap) %>
      window.georap.templates = {};
      <% templates.forEach(function (template) { %>
      <%# Use bracket notation to allow template names with spaces and - %>
      window.georap.templates['<%= template.name %>'] = <%- template.source %>;
      <% }); %>

      // legacy namespace alias
      window.tresdb = window.georap;
    </script>

    <!-- Webpack bundle -->
    <!-- See webpack.config.js for details. -->
    <script src="/assets/app.bundle.js"></script>

    <!-- Google Maps JS API -->
    <!-- geometry lib is needed to compute distance of LatLngBounds diagonal -->
    <script src="https://maps.googleapis.com/maps/api/js?key=<%- georap.config.googleMapsKey %>&libraries=geometry&callback=initMap" async defer></script>

  </body>
</html>
