<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title><%= tresdb.config.title %></title>
    <meta name="description" content="<%= tresdb.config.description %>">

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/assets/images/logo/16.png">

    <!-- Stylesheets are included in the webpack bundle. -->
    <!-- See config/webpack.js for details. -->

    <!-- Bootstrap 3 styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>

  <body>
    <div id="map"></div>
    <div id="card-layer" class="hidden"></div>

    <!-- jQuery 3 (required by Bootstrap 3) -->
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>

    <!-- Bootstrap 3 JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Site config variables -->
    <!-- See client/handlers.js for details -->
    <script>
      window.tresdb = <%- JSON.stringify(tresdb) %>
      window.tresdb.templates = {};
      <% templates.forEach(function (template) { %>
      <%# Use bracket notation to allow template names with spaces and - %>
      window.tresdb.templates['<%= template.name %>'] = <%- template.source %>;
      <% }); %>
    </script>

    <!-- Webpack bundle -->
    <!-- See webpack.config.js for details. -->
    <script src="/assets/app.bundle.js"></script>

    <!-- Google Maps JS API -->
    <!-- geometry lib is needed to compute distance of LatLngBounds diagonal -->
    <script src="https://maps.googleapis.com/maps/api/js?key=<%- tresdb.config.googleMapsKey %>&libraries=geometry&callback=initMap" async defer></script>


  </body>
</html>
