<%
  locationTypes.forEach(function (t) {
    var isActive = (t === currentType);
%>
  <button data-type="<%= t %>" class="tresdb-type-<%= t %> <%= isActive ? 'tresdb-tag-active' : '' %>">
    <img src="<%= toSymbolUrl(t) %>" title="<%= t %>" width="22" height="40">
  </button>
<%
  });
%>
