<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      <h1><span class="glyphicon glyphicon-import" aria-hidden="true"></span> <%= __('import-locations') %></h1>

      <p><%= __('import-intro') %></p>

      <form id="georap-import-upload-form" class="panel panel-primary">
        <div class="panel-heading">
          <%= __('choose-file-to-upload') %>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label for="georap-import-file"><%= __('import-supported-formats') %> <%= __('max-size-is') %> <%= limit %> MiB.</label>
            <input id="georap-import-file" type="file" name="importfile">
          </div>

          <div class="pull-right">
            <button type="submit" class="btn btn-primary"><%= __('upload') %></button>
          </div>
        </div>
      </form>

      <div id="georap-import-progress" class="progress hidden">
        <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%">
          <span class="sr-only">Waiting for server</span>
        </div>
      </div>

      <div id="georap-import-othererror" class="hidden">
        <div class="alert alert-danger" role="alert">Uploading the file failed.</div>
      </div>

      <div id="georap-import-missingerror" class="hidden">
        <div class="alert alert-danger" role="alert">A file is required. Please choose a file.</div>
      </div>

      <div id="georap-import-typeerror" class="hidden">
        <div class="alert alert-danger" role="alert">This file type or structure is not supported.</div>
      </div>

      <div id="georap-import-sizeerror" class="hidden">
        <div class="alert alert-danger" role="alert">The file is too large. Please choose a smaller file.</div>
      </div>

      <div id="georap-import-list" class="hidden"></div>

    </div>
  </div>
</div>
