<a href="/location/<%= location._id %>"><strong><%= (location.name === '' ? 'Untitled' : location.name) %></strong></a>

<% var j, ts; %>
<% ts = location.tags; %>
<p class="tresdb-tags">
<% for (j = 0; j < ts.length; j += 1) { %>
  <span class="label label-default"><%= ts[j] %></span>
<% } %>
</p>

<a href="/location/<%= location._id %>">See more...</a>

<div>layer: <%= location.layer %></div>
