<div class="form-group">
  <div class="georap-coords">
    <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>

    <span id="location-geom-geostamp"><%= allCoords[0].html %></span>

    <button id="location-geom-more-open" type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-chevron-down"></span> <%= __('more') %></button>
    <button id="location-geom-more-close" type="button" class="btn btn-default btn-sm hidden"><span class="glyphicon glyphicon-chevron-up"></span> <%= __('less') %></button>
    <button id="location-geom-edit" type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span></button>
  </div>

  <div id="location-geom-more" class="form-group hidden">
    <% allCoords.forEach(function (c) { %>
      <div><span><%= c.html %> (<%= c.name %>)</span></div>
    <% }) %>
  </div>
</div>

<div id="location-geom-container" class="hidden location-geom-container">
  <form id="location-geom-form" class="panel panel-primary">
    <div class="panel-body">
      <div class="form-group">
        <label for="location-geom-latitude"><%= __('latitude') %></label>
        <input type="text" class="form-control" id="location-geom-latitude">
        <small class="form-text text-muted">WGS 84, <%= __('decimal-degrees') %> (DD.DDDD)</small>
      </div>
      <div class="form-group">
        <label for="location-geom-longitude"><%= __('longitude') %></label>
        <input type="text" class="form-control" id="location-geom-longitude">
        <small class="form-text text-muted">WGS 84, <%= __('decimal-degrees') %> (DD.DDDD)</small>
      </div>
      <div id="location-geom-map-container" class="form-group">
        <div id="location-geom-map" style="width: 100%; height: 18em;"></div>
      </div>
      <div class="pull-right">
        <button id="location-geom-cancel" type="button" class="btn btn-default"><%= __('cancel') %></button>
        <button type="submit" class="btn btn-primary"><%= __('save') %></button>
      </div>
    </div>
  </form>

  <div id="location-geom-progress" class="progress hidden">
    <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%">
      <span class="sr-only">Waiting for server</span>
    </div>
  </div>

  <div id="location-geom-error" class="hidden">
    <div class="alert alert-danger" role="alert"><%= __('updating-coords-error') %></div>
  </div>
</div>
