<%

if (makeLink) {
  %><a href="<%= url %>" target="_blank" class="attachment-thumbnail <%= sizeClass %>"><%
} else {
  %><span class="attachment-thumbnail <%= sizeClass %>"><%
}

if (attachment.mimetype.startsWith('image/')) {
  %><img src="<%= attachment.thumbUrl %>" title="<%= attachment.filename %>"><%
} else if (attachment.mimetype === 'application/pdf') {
  %><img src="/assets/images/thumbnails/pdf.png" title="<%= attachment.filename %>"><%
} else if (attachment.mimetype === 'application/vnd.ms-excel') {
  %><img src="/assets/images/thumbnails/xls.png" title="<%= attachment.filename %>"><%
} else if (attachment.mimetype === 'text/plain') {
  %><img src="/assets/images/thumbnails/txt.png" title="<%= attachment.filename %>"><%
} else {
  %><img src="/assets/images/thumbnails/file.png" title="<%= attachment.filename %>"><%
}

if (makeLink) {
  %></a><%
} else {
  %></span><%
}

%>
