<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1><%= __('invite-user') %></h1>

      <div id="georap-invite-email-error" class="hidden">
        <div class="alert alert-danger" role="alert"><%= __('invite-invalid-email') %></div>
      </div>

      <div id="georap-invite-exist-error" class="hidden">
        <div class="alert alert-warning" role="alert"><%= __('invite-account-exists') %></div>
      </div>

      <div id="georap-invite-server-error" class="hidden">
        <div class="alert alert-danger" role="alert"><%= __('invite-send-failed') %></div>
      </div>

      <div id="georap-invite-success" class="hidden">
        <div class="alert alert-success" role="alert"><%= __('invite-send-success') %></div>
      </div>

      <form id="georap-invite-form">
        <div class="form-group">
          <label for="georap-invite-email"><%= __('invite-email') %>:</label>
          <input type="email" class="form-control" id="georap-invite-email">
        </div>
        <div class="form-group">
          <label for="georap-invite-lang"><%= __('invite-language') %>:</label>
          <select class="form-control" id="georap-invite-lang">
            <% availableLocales.forEach(function (locale) { %>
              <option
                value="<%= locale %>"
                <%= locale === defaultLocale ? 'selected="selected"' : '' %>
              ><%= __('locale', locale) %></option>
            <% }) %>
          </select>
        </div>
        <button type="submit" class="btn btn-primary"><%= __('invite-send') %></button>
      </form>

      <div id="georap-invite-in-progress" class="hidden">
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%">
            <span class="sr-only">Waiting</span>
          </div>
        </div>
      </div>

      <div id="georap-invite-another" class="hidden">
        <button id="georap-invite-another-button" type="button" class="btn btn-primary"><%= __('invite-another') %></button>
      </div>

    </div>
  </div><!-- .row -->
</div><!-- .container-fluid -->
