<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      <h1><%= __('users') %></h1>

      <div class="users-loading">
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%">
            <span class="sr-only">Waiting for server</span>
          </div>
        </div>
      </div>

      <h2><span class="glyphicon glyphicon-fire" aria-hidden="true"></span> <%= __('last-7-days') %></h2>
      <div class="users-7days"></div>

      <h2><span class="glyphicon glyphicon-certificate" aria-hidden="true"></span> <%= __('last-30-days') %></h2>
      <div class="users-30days"></div>

      <h2><span class="glyphicon glyphicon-knight" aria-hidden="true"></span> <%= __('last-365-days') %></h2>
      <div class="users-365days"></div>

      <h2><span class="glyphicon glyphicon-king" aria-hidden="true"></span> <%= __('all-time') %></h2>
      <div class="users-alltime"></div>

      <p><%= __('points-updated-hourly') %></p>

      <div class="card-filler"></div>
    </div>
  </div>
</div>
