<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Account settings</h1>

      <h3>Security</h3>
      <p><a class="btn btn-default" href="/account/password" role="button"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> Change Password...</a></p>

      <h3>Theme</h3>

      <div class="radio">
        <label>
          <input type="radio" name="colorScheme" id="theme-light" value="light" <%= theme.colorScheme === 'light' ? 'checked' : '' %>>
          Light
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="colorScheme" id="theme-dark" value="dark" <%= theme.colorScheme === 'dark' ? 'checked' : '' %>>
          Dark
        </label>
      </div>

      <h3><%= __('language') %></h3>

      <div class="list-group">
        <% availableLocales.forEach(function (locale) { %>
          <% var activity = locale === currentLocale ? 'active' : '' %>
          <a href="?locale=<%= locale %>" class="list-group-item <%= activity %>" target="_self">
            <%= __('locale-' + locale) %>
          </a>
        <% }) %>
      </div>
    </div>
  </div><!-- .row -->
</div><!-- .container-fluid -->
