<div class="form-attachment" data-attachment-key="<%= attachment.key %>">
  <div class="form-attachment-thumbnail"></div>
  <div class="form-attachment-controls">
    <div class="form-attachment-filename"><%= attachment.filename %> (<span title="<%= attachment.filesize %> bytes"><%= sizestamp %></span>)</div>
    <div class="form-attachment-buttons">
      <button type="button" class="btn btn-sm btn-default form-attachment-up"><span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span> <%= __('up') %></button>
      <button type="button" class="btn btn-sm btn-default form-attachment-down"><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> <%= __('down') %></button>
      <button type="button" class="btn btn-sm btn-default form-attachment-rotate"><span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> <%= __('rotate') %></button>
      <button type="button" class="btn btn-sm btn-danger form-attachment-remove"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> <%= __('delete') %></button>
    </div>
  </div>
  <div class="alert alert-danger form-attachment-error hidden" role="alert"></div>
</div>
