<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <p>
        <a href="/account">&larr; <%= __('account-settings') %></a>
      </p>
    </div>
  </div><!-- .row -->
  <div class="row">
    <div class="col-md-12">
      <h1><%= __('change-email') %></h1>

      <div class="change-email-send-error hidden">
        <div class="alert alert-danger" role="alert"><%= __('change-email-send-failed') %></div>
      </div>

      <form class="change-email-send-form">
        <div class="form-group">
          <label><%= __('change-email-current') %>:</label>
          <%= email %>
        </div>
        <div class="form-group">
          <label for="change-email-email"><%= __('change-email-new') %>:</label>
          <input type="email" class="form-control" id="change-email-email">
        </div>

        <div class="change-email-invalid-address hidden">
          <div class="alert alert-danger" role="alert"><%= __('invite-invalid-email') %></div>
        </div>

        <p><%= __('change-email-info') %></p>

        <p class="text-right">
          <button type="submit" class="change-email-send-btn btn btn-primary"><%= __('change-email-send') %></button>
        </p>
      </form>

      <form class="change-email-save-form">
        <div class="change-email-send-success hidden">
          <div class="alert alert-success" role="alert"><%= __('change-email-send-success') %></div>
        </div>

        <div class="form-group">
          <label for="change-email-security-code" class="control-label"><%= __('change-email-code') %>:</label>
          <input type="number" class="form-control" id="change-email-security-code">
          <p class="help-block"><%= __('change-email-check') %></p>
        </div>
        <div class="form-group">
          <label for="change-email-password" class="control-label"><%= __('password') %>:</label>
          <input type="password" class="form-control" id="change-email-password">
          <p class="help-block"><%= __('change-email-password-info') %> <%= siteTitle %> <%= __('change-email-password-info2') %></p>
        </div>

        <p class="text-right">
          <button type="submit" class="change-email-submit-btn btn btn-default disabled"><%= __('change-email-submit') %></button>
        </p>

        <div class="change-email-submit-success hidden">
          <div class="alert alert-success" role="alert"><%= __('change-email-submit-success') %></div>
        </div>
      </form>

      <p class="text-right">
        <a href="#" role="button" class="change-email-close-btn btn btn-primary disabled"><%= __('close') %></a>
      </p>
    </div>
  </div><!-- .row -->
</div><!-- .container-fluid -->
