<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <p>
        <a href="/account">&larr; <%= __('account-settings') %></a>
      </p>
    </div>
  </div><!-- .row -->
  <div class="row">
    <div class="col-md-12">
      <h1><%= __('change-email') %></h1>

      <form class="change-email-form">
        <div class="form-group">
          <label><%= __('change-email-current') %>:</label>
          <%= email %>
        </div>
        <div class="form-group">
          <label for="change-email-email"><%= __('change-email-new') %>:</label>
          <input type="email" class="form-control" id="change-email-email">
        </div>

        <p>To keep your account safe, we must verify that you can access the new email address. Send a verification message to your new address. Then, copy the verification code in the message to the field below.</p>

        <p class="text-right">
          <button type="button" class="btn btn-primary"><%= __('change-email-send') %></button>
        </p>

        <div class="form-group">
          <label for="change-email-code" class="control-label"><%= __('change-email-code') %>:</label>
          <input type="number" class="form-control" id="change-email-code">
          <p class="help-block"><%= __('change-email-check') %></p>
        </div>
        <div class="form-group">
          <label for="change-email-current-password" class="control-label"><%= __('current-password') %>:</label>
          <input type="password" class="form-control" id="change-email-current-password">
        </div>

        <p class="text-right">
          <button type="submit" class="btn btn-default"><%= __('change-email-submit') %></button>
        </p>
      </form>

    </div>
  </div><!-- .row -->
</div><!-- .container-fluid -->
