<% var t = ev.type; %>
<% var name = ev.locationName; %>
<% var locUrl = '/locations/' + ev.locationId + '?zoom=11&ref=latest' %>
<% name = (name === '' ? __('untitled') : name) %>
<li class="list-group-item event-item clearfix" data-locationid="<%= ev.locationId %>">
  <%
    if (showThumbnail && ev.location) {
      %><div class="pull-right event-item-thumbnail attachment-thumbnail thumb-xs">
        <a href="<%= locUrl %>"><%
      if (ev.location.thumbnail) {
        %><img src="<%= ev.location.thumbnail.thumburl %>" title="<%= ev.location.name %>"><%
      } else {
        %><img src="/assets/images/markers/symbols/<%= ev.location.type %>.png" class="location-type-symbol" title="<%= ev.location.type %>"><%
      }
      %></a></div><%
    }
  %>
  <a href="/users/<%= ev.user %>"><%= ev.user %></a>
  <% if (t === 'location_created') { %>
    <%= __('user-created-loc') %> <a href="<%= locUrl %>"><%= name %></a>

  <% } else if (t === 'location_removed') { %>
    <%= __('user-deleted-loc') %> <span title="/locations/<%= ev.locationId %>"><%= name %></span>

  <% } else if (t === 'location_geom_changed') { %>
    <%= __('user-edited-coords') %> <a href="<%= locUrl %>"><%= name %></a>

  <% } else if (t === 'location_name_changed') { %>
    <% if (ev.data.oldName === '') { %>
      <%= __('user-named-loc') %> <a href="<%= locUrl %>"><%= ev.data.newName %></a>
    <% } else { %>
      <%= __('user-renamed-loc') %> <a href="<%= locUrl %>"><%= ev.data.oldName %></a> <%= __('user-renamed-loc-to') %> <a href="<%= locUrl %>"><%= ev.data.newName %></a>
    <% } %>

  <% } else if (t === 'location_status_changed') { %>
    <%= __('user-marked-loc') %> <a href="<%= locUrl %>"><%= name %></a> <%= __('user-marked-status-as') %> <%= ev.data.newStatus %>

  <% } else if (t === 'location_type_changed') { %>
    <%= __('user-marked-loc') %> <a href="<%= locUrl %>"><%= name %></a> <%= __('user-marked-type-as') %> <%= ev.data.newType %>

  <% } else if (t === 'location_tags_changed') { %>
    <%= __('user-tagged-loc') %> <a href="<%= locUrl %>"><%= name %></a> <%= __('user-tagged-loc-as') %> <%= ev.data.newTags.join(', ') %>

  <% } else if (t === 'location_thumbnail_changed') { %>
    <%= __('user-changed-thumb') %> <a href="<%= locUrl %>"><%= name %></a>

  <% } else if (t === 'location_entry_created') { %>
    <%= __('user-created-post') %> <%= flagstamp(ev.data.entry.flags) %>
    <%= __('user-created-post-to') %> <a href="<%= locUrl %>"><%= name %></a>

  <% } else if (t === 'location_entry_changed') { %>
    <%= __('user-edited-post') %> <a href="<%= locUrl %>"><%= name %></a>

  <% } else if (t === 'location_entry_moved_out') { %>
    <%= __('user-moved-post') %> <%= __('user-moved-post-from') %>
    <a href="<%= locUrl %>"><%= name %></a> <%= __('user-moved-post-to') %>
    <a href="<%= '/locations/' + ev.data.toLocationId + '?ref=latest' %>"><%= ev.data.toLocationName %></a>

  <% } else if (t === 'location_entry_moved_in') { %>
    <%= __('user-moved-post') %> <%= __('user-moved-post-to') %>
    <a href="<%= locUrl %>"><%= name %></a> <%= __('user-moved-post-from') %>
    <a href="<%= '/locations/' + ev.data.fromLocationId + '?ref=latest' %>"><%= ev.data.fromLocationName %></a>

  <% } else if (t === 'location_entry_removed') { %>
    <%= __('user-deleted-post') %> <a href="<%= locUrl %>"><%= name %></a>

  <% } else if (t === 'location_unproved_visit_created') { %>
    <%= __('user-visited-legacy') %> <a href="<%= locUrl %>"><%= name %></a>

  <% } else if (t === 'location_entry_comment_created') { %>
    <%= __('user-commented-post') %> <a href="<%= locUrl %>#comment-<%= ev.data.commentId %>"><%= name %></a>

  <% } else if (t === 'location_entry_comment_changed') { %>
    <%= __('user-edited-comment') %> <a href="<%= locUrl %>#comment-<%= ev.data.commentId %>"><%= name %></a>

  <% } else if (t === 'location_entry_comment_removed') { %>
    <%= __('user-deleted-comment') %> <a href="<%= locUrl %>"><%= name %></a>

  <% } else { %>
    <%= ev.type %>
  <% } %>

  <%= timestamp %>
  <% if (typeof pointstamp !== 'undefined') { %>
    &nbsp;<%= pointstamp(getPoints(config, ev)) %>
  <% } %>
</li>
