<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      <div>
        <h1><span class="glyphicon glyphicon-export" aria-hidden="true"></span> <%= __('export-locations') %></h1>

        <p><%= __('export-intro') %></p>

        <h2><%= __('export-offline-kml') %></h2>

        <p><%= __('export-offline-kml-info') %></p>

        <a href="/api/markers/kml?token=<%= token %>" target="_blank"><%= __('export-offline-kml-download') %></a>

        <h2><%= __('export-online-kml') %></h2>

        <p><%= __('export-online-kml-info') %></p>

        <a href="/api/markers/kml/network?token=<%= token %>" target="_blank"><%= __('export-online-kml-download') %></a>
      </div>

    </div>
  </div>
</div>
