
<div id="<%= entry.getId() %>" class="panel panel-default tresdb-content-attachment">

  <div class="panel-heading">
    <% if (entry.getUserName() === account.getName()) { %>
      <div class="btn-group pull-right">
        <button id="<%= entry.getId() %>-edit" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
      </div>
    <% } %>
    <%= entry.getUserName() %> uploaded <%= timestamp(entry.getTime()) %>
  </div>

  <% var url = entry.getUrl(); %>
  <% var mime = entry.getMimeType(); %>
  <% var filename = url.substr(url.lastIndexOf('/') + 1); %>
  <% if (mime.substr(0, 6) === 'image/') { %>
    <div class="panel-body tresdb-content-attachment-image-body">
      <img src="<%= url %>" title="<%= filename %>">
    </div>
  <% } else { %>
    <div class="panel-body">
      <a href="<%= url %>" target="_blank"><%= filename %></a>
    </div>
  <% } %>

  <div id="<%= entry.getId() %>-form-container" class="panel-body hidden">
    <div class="pull-right">
      <button id="<%= entry.getId() %>-cancel" type="button" class="btn btn-default">Cancel</button>
    </div>
    <button id="<%= entry.getId() %>-delete-ensure" type="button" class="btn btn-danger">Delete</button>

    <div id="<%= entry.getId() %>-delete-final" class="hidden">
      Are you sure?
      <button id="<%= entry.getId() %>-delete" type="button" class="btn btn-danger">Yes, delete!</button>
    </div>

    <div id="<%= entry.getId() %>-delete-error" class="hidden panel-body">
      <div class="alert alert-danger" role="alert">Deletion failed. Might be a connection issue.</div>
    </div>
  </div>
</div>
