
<div id="<%= entry.getId() %>" class="panel panel-default tresdb-content-story">

  <div class="panel-heading">
    <% if (entry.getUserName() === account.getName()) { %>
      <div class="btn-group pull-right">
        <button id="<%= entry.getId() %>-edit" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
      </div>
    <% } %>
    <%= entry.getUserName() %> wrote <%= timestamp(entry.getTime()) %>
  </div>

  <div id="<%= entry.getId() %>-body" class="panel-body">
  <%= marked(entry.getMarkdown(), { sanitize: true }) %>
  </div>

  <% if (entry.getUserName() === account.getName()) { %>
    <div id="<%= entry.getId() %>-form-container" class="panel-body hidden">
      <form id="<%= entry.getId() %>-form">
        <div class="form-group">
          <label for="<%= entry.getId() %>-input">Edit content:</label>
          <textarea id="<%= entry.getId() %>-input" class="form-control" rows="3"></textarea>
        </div>
        <div>
          <%= markdownSyntax() %>
        </div>
        <div class="pull-right">
          <button id="<%= entry.getId() %>-delete" type="button" class="btn btn-danger">Delete</button>
        </div>
        <button id="<%= entry.getId() %>-cancel" type="button" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>

    <div id="<%= entry.getId() %>-progress" class="progress hidden">
      <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%">
        <span class="sr-only">Waiting for server</span>
      </div>
    </div>

    <div id="<%= entry.getId() %>-error" class="hidden">
      <div class="alert alert-danger" role="alert">Update failed. Might be a connection issue.</div>
    </div>
  <% } %>

</div>
