<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      <h1><span class="glyphicon glyphicon-import" aria-hidden="true"></span> <%= __('import-upload-success') %></h1>

      <p><strong><%= __('import-batch-num') %>:</strong> <%= batchId %></p>

      <p id="georap-batch-message"></p>

      <div id="georap-batch-list" class="hidden"></div>

      <div id="georap-batch-progress" class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%">
          <span class="sr-only">Waiting for server</span>
        </div>
      </div>

      <div id="georap-batch-error404" class="hidden">
        <div class="alert alert-danger" role="alert"><%= __('import-not-found') %></div>
      </div>

      <div id="georap-batch-error" class="hidden">
        <div class="alert alert-danger" role="alert"><%= __('import-failed') %></div>
      </div>

      <form id="georap-batch-form" class="hidden" style="margin-bottom: 5em">
        <button id="georap-batch-cancel" type="button" class="btn btn-default disable"><%= __('cancel') %></button>
        <div class="pull-right">
          <button id="georap-batch-import-selected" type="button" class="btn btn-primary disabled"></button>
          <button id="georap-batch-import-all" type="submit" class="btn btn-primary disabled"></button>
        </div>
      </form>

    </div>
  </div>
</div>
