<div class="location-export">

  <div class="panel panel-primary">
    <div class="panel-heading">
      <%= __('downloads') %>
    </div>
    <div class="panel-body">

      <p>
        <a href="/api/locations/<%= id %>?format=kml&amp;token=<%= token %>" class="btn btn-default" role="button" target="_blank">KML</a>
        <%= __('for-google-earth') %>
      </p>
      <p>
        <a href="/api/locations/<%= id %>?format=gpx&amp;token=<%= token %>" class="btn btn-default" role="button" target="_blank">GPX</a>
        <%= __('for-gps-devices') %>
      </p>
      <p>
        <a href="/api/locations/<%= id %>?format=geojson&amp;token=<%= token %>" class="btn btn-default" role="button" target="_blank">GeoJSON</a>
        <%= __('for-web-apps') %>
      </p>

      <div class="pull-right">
        <button type="button" class="btn btn-default location-export-cancel"><%= __('cancel') %></button>
      </div>

    </div>
  </div>

</div>
