<form class="search-form form-horizontal">
  <div class="form-group">
    <label for="search-phrase-input" class="col-sm-3 control-label"><%= __('contains') %></label>
    <div class="col-sm-9">
      <input id="search-phrase-input" type="text" class="search-phrase form-control" placeholder="<%= __('search-placeholder-long') %>">
    </div>
  </div>
  <div class="form-group">
    <label for="search-creator-select" class="col-sm-3 control-label"><%= __('created-by') %></label>
    <div class="col-sm-5">
      <select id="search-creator-select" class="search-creator form-control">
        <option value="anyone"><%= __('anyone') %></option>
        <option value="<%= username %>"><%= username %></option>
        <!-- all members here -->
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="search-order-select" class="col-sm-3 control-label"><%= __('order-by') %></label>
    <div class="col-sm-5">
      <select id="search-order-select" class="search-order form-control">
        <option value="rel"><%= __('order-relevance') %></option>
        <option value="az"><%= __('order-alphabetic-az') %></option>
        <option value="za"><%= __('order-alphabetic-za') %></option>
        <option value="newest"><%= __('order-newest-first') %></option>
        <option value="oldest"><%= __('order-oldest-first') %></option>
      </select>
    </div>
  </div>
  <div class="form-group hidden">
    <div class="col-sm-5 col-sm-offset-3">
      <input type="text" class="search-skip form-control">
      <input type="text" class="search-limit form-control">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-5 col-sm-offset-3">
      <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> <%= __('search-go') %></button>
    </div>
  </div>
</form>
