<% var j, tag, isActive; %>
<ul class="list-group tresdb-tags">
  <% for (j = 0; j < allTags.length; j += 1) { %>
    <% tag = allTags[j]; %>
    <% isActive = (locationTags.indexOf(tag) > -1); %>
    <% if (isActive) { %>
      <li id="tresdb-location-edit-tags-<%= tag %>" class="list-group-item active"><span class="label label-default tresdb-tag"><%= tag %></span> <button id="tresdb-location-edit-tags-<%= tag %>-button" type="button" class="btn btn-default">Remove</button></li>
    <% } else { %>
      <li id="tresdb-location-edit-tags-<%= tag %>" class="list-group-item"><span class="label label-default tresdb-tag"><%= tag %></span> <button id="tresdb-location-edit-tags-<%= tag %>-button" type="button" class="btn btn-default">Add</button></li>
    <% } %>
  <% } %>
</ul>
