<div id="tresdb-export-container" class="hidden">

  <div class="panel panel-primary">
    <div class="panel-heading">
      Export
    </div>
    <div class="panel-body">

      <p>
        <h4>View on</h4>
        <a href="https://tools.wmflabs.org/geohack/geohack.php?language=en&params=<%= latitude %>;<%= longitude %>_type:landmark" class="btn btn-default" role="button" target="_blank">GeoHack</a>
      </p>
      <p>
        <h4>Download</h4>
        <a href="/api/locations/<%= id %>?format=kml&amp;token=<%= token %>" class="btn btn-default" role="button" target="_blank">KML</a>
        for Google Earth
      </p>
      <p>
        <a href="/api/locations/<%= id %>?format=gpx&amp;token=<%= token %>" class="btn btn-default" role="button" target="_blank">GPX</a>
        for GPS devices
      </p>
      <p>
        <a href="/api/locations/<%= id %>?format=geojson&amp;token=<%= token %>" class="btn btn-default" role="button" target="_blank">GeoJSON</a>
        for web applications
      </p>

      <div class="pull-right">
        <button id="tresdb-export-cancel" type="button" class="btn btn-default">Cancel</button>
      </div>

    </div>
  </div>

</div>
