<div id="tresdb-export-container" class="hidden">

  <div class="panel panel-primary">
    <div class="panel-heading">
      Export
    </div>
    <div class="panel-body">

      <!-- location id & token -->
      <p>
        <a href="/api/locations/<%= id %>?format=kml&amp;token=<%= token %>" class="btn btn-default" role="button" target="_blank">Download KML</a>
        for Google Earth
      </p>
      <p>
        <a href="/api/locations/<%= id %>?format=gpx&amp;token=<%= token %>" class="btn btn-default" role="button" target="_blank">Download GPX</a>
        for GPS devices
      </p>
      <p>
        <a href="/api/locations/<%= id %>?format=geojson&amp;token=<%= token %>" class="btn btn-default" role="button" target="_blank">Download GeoJSON</a>
        for web applications
      </p>

      <div class="pull-right">
        <button id="tresdb-export-cancel" type="button" class="btn btn-default">Cancel</button>
      </div>

    </div>
  </div>

</div>
