<% var locName = location.getName(); %>
<% locName = (locName === '' ? __('untitled') : locName); %>
<h1><span id="location-name-display"><%= locName %></span> <button id="location-rename-show" type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span></button></h1>

<form id="location-rename-form" class="hidden panel panel-primary">
  <div class="panel-body">
    <div class="form-group">
      <label for="location-rename-input"><%= __('new-name') %>:</label>
      <input type="text" class="form-control" id="location-rename-input">
    </div>
    <div class="pull-right">
      <button id="location-rename-cancel" type="button" class="btn btn-default"><%= __('cancel') %></button>
      <button type="submit" class="btn btn-primary"><%= __('save') %></button>
    </div>
  </div>
</form>

<div id="location-rename-error" class="hidden">
  <div class="alert alert-danger" role="alert"><%= __('location-rename-error') %></div>
</div>
