<form class="location-statustype-form panel panel-primary">
  <div class="panel-body">

    <div class="location-statustype-view-options form-group pull-right">
      <div class="btn-group" role="group" aria-label="View settings">
        <button type="button" class="viewmode-dense-btn btn btn-default <%= viewMode === 'dense' ? 'active' : '' %>">
          <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
          Dense
        </button>
        <button type="button" class="viewmode-list-btn btn btn-default <%= viewMode === 'list' ? 'active' : '' %>">
          <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
          List
        </button>
      </div>
    </div>

    <div class="location-status-list <%= viewMode === 'dense' ? 'viewmode-dense' : '' %>">
      <%= statusListHtml %>
    </div>

    <div class="location-type-list <%= viewMode === 'dense' ? 'viewmode-dense' : '' %>">
      <%= typeListHtml %>
    </div>

    <div class="pull-right">
      <button type="button" class="location-statustype-form-cancel btn btn-default"><%= __('cancel') %></button>
    </div>

  </div>
</form>

<div class="location-statustype-progress progress hidden">
  <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%">
    <span class="sr-only">Waiting for server</span>
  </div>
</div>

<div class="location-statustype-error hidden">
  <div class="alert alert-danger" role="alert"><%= __('location-status-type-fail') %></div>
</div>
