<tr class="georap-batch-details">
  <td colspan="4">
    <h3><%= location.name %></h3>

    <p>
      <strong><%= __('latitude') %>:</strong> <%= location.latitude %><br>
      <strong><%= __('longitude') %>:</strong> <%= location.longitude %>
    </p>

    <% location.entries.forEach(function (entry, index) { %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= __('post') %> #<%= index + 1 %>
        </div>
        <div class="panel-body" style="word-break: break-all">
          <%= markdownToHtml(entry.markdown) %>
          <% if (entry.filepath) { %>
            <img src="<%= entry.filepath %>" style="max-width: 100%">
          <% } %>
        </div>
      </div>
    <% }); %>
  </td>
</tr>
