<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      <%= nameHtml %>

      <% var j, ts; %>
      <% ts = location.getTags(); %>
      <p class="tresdb-tags">
        <span>Tags:</span>
      <% for (j = 0; j < ts.length; j += 1) { %>
        <span class="label label-default tresdb-tag"><%= ts[j] %></span>
      <% } %>
      <% if (ts.length === 0) { %>
        <span class="tresdb-none">none yet</span>
      <% } %>
      <button id="tresdb-location-edit-tags-show" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
      </p>

      <p class="tresdb-coordinates">
        <span class="label label-default"><%= geostamp(location.getGeom(), { precision: 5 }) %></span>
        <button id="tresdb-location-edit-coordinates-show" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
      </p>

      <p>
        <button id="tresdb-location-story-show" type="button" class="btn btn-default"><span class="glyphicon glyphicon-comment"></span> Write</button>
        <button id="tresdb-location-attachment-show" type="button" class="btn btn-default"><span class="glyphicon glyphicon-paperclip"></span> Upload</button>
        <button id="tresdb-location-visit-show" type="button" class="btn btn-default"><span class="glyphicon glyphicon-star"></span> Visit</button>
      </p>

      <div id="tresdb-location-story-container" class="hidden">
        <form id="tresdb-location-story-form" class="panel panel-primary">
          <div class="panel-heading">
            Write a note, a comment, or any other textual piece
          </div>
          <div class="panel-body">
            <div class="form-group">
              <label for="tresdb-location-story-input">Content:</label>
              <textarea id="tresdb-location-story-input" class="form-control" rows="3"></textarea>
            </div>
            <div>
              <%= markdownSyntax() %>
            </div>
            <button id="tresdb-location-story-cancel" type="button" class="btn btn-default">Cancel</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>

        <div id="tresdb-location-story-progress" class="progress hidden">
          <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%">
            <span class="sr-only">Waiting for server</span>
          </div>
        </div>

        <div id="tresdb-location-story-error" class="hidden">
          <div class="alert alert-danger" role="alert">Adding the text failed. Might be a connection issue.</div>
        </div>
      </div>

      <div id="tresdb-location-attachment-container" class="hidden">
        <form id="tresdb-location-attachment-form" class="panel panel-primary">
          <div class="panel-heading">
            Upload a photo, a document, or any other file attachment
          </div>
          <div class="panel-body">
            <div class="form-group">
              <label class="btn btn-default btn-file">
                Browse... <input type="file" style="display: none;">
              </label>
            </div>
            <button id="tresdb-location-attachment-cancel" type="button" class="btn btn-default">Cancel</button>
            <button type="submit" class="btn btn-primary">Upload</button>
          </div>
        </form>

        <div id="tresdb-location-attachment-error" class="hidden">
          <div class="alert alert-danger" role="alert">Uploading failed. Might be a connection issue.</div>
        </div>
      </div>

      <div id="tresdb-location-visit-container" class="hidden">
        <form id="tresdb-location-visit-form" class="panel panel-primary">
          <div class="panel-heading">
            Mark you have visited the location
          </div>
          <div class="panel-body">
            <div class="form-group">
              <label for="tresdb-location-visit-input">Year:</label>
              <select id="tresdb-location-visit-input" class="form-control">
                <% var nowYear = (new Date()).getFullYear(); %>
                <option selected="selected"><%= nowYear %></option>
                <% for (var y = nowYear - 1; y >= 1960; y -= 1) { %>
                  <option><%= y %></option>
                <% } %>
              </select>
            </div>
            <button id="tresdb-location-visit-cancel" type="button" class="btn btn-default">Cancel</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>

        <div id="tresdb-location-visit-error" class="hidden">
          <div class="alert alert-danger" role="alert">Marking the visit failed. Might be a connection issue.</div>
        </div>
      </div>

      <div id="tresdb-location-content-entries">
        <% var i; %>
        <% for (i = 0; i < entriesHtml.length; i += 1) { %>
          <%= entriesHtml[i] %>
        <% } %>
      </div>

    </div>
  </div>
</div>
