<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      <%= nameHtml %>

      <%= tagsHtml %>

      <p class="tresdb-coordinates">
        <span class="label label-default"><%= geostamp(location.getGeom(), { precision: 5 }) %></span>
        <button id="tresdb-location-edit-coordinates-show" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
      </p>

      <%= entryFormHtml %>

      <div id="tresdb-location-content-entries">
        <% var i; %>
        <% for (i = 0; i < entriesHtml.length; i += 1) { %>
          <%= entriesHtml[i] %>
        <% } %>
      </div>

    </div>
  </div>
</div>
