<div class="panel panel-default tresdb-entry">

  <div class="panel-heading">
    <div class="pull-right">
      <% if (isAuthorOrAdmin) { %>
        <button type="button" class="btn btn-default btn-sm entry-form-open">&hellip;</button>
      <% } %>
    </div>
    <%= username %> posted <%= flagstamp %><%= timestamp %>
  </div>

  <div class="panel-body entry-form-container hidden"></div>

  <div class="entry-body panel-body<%= hasMarkdown ? '' : ' hidden' %>">
    <%= markdownHtml %>
  </div>

  <div class="entry-attachments-container"></div>

  <div class="entry-comments-container"></div>
</div>
