<div class="panel panel-default tresdb-entry">

  <div class="panel-heading">
    <div class="pull-right">
      <% if (isAuthorOrAdmin) { %>
        <button type="button" class="btn btn-default btn-sm entry-form-open">&hellip;</button>
      <% } %>
    </div>
    <%= username %> posted <%= flagstamp %><%= timestamp %>
  </div>

  <div class="panel-body entry-form-container hidden"></div>

  <div id="entry-<%= entryId %>-body" class="panel-body<%= hasMarkdown ? '' : ' hidden' %>">
    <%= markdownHtml %>
  </div>

  <div class="entry-attachments-container"></div>

  <div class="entry-files <%= nonImages.length > 0 ? '' : 'hidden' %>">
    <% nonImages.forEach(function (attachment) { %>
      <% if (attachment.mimetype === 'application/pdf') { %>
        <div class="panel-body">
          <span class="glyphicon glyphicon-paperclip"></span> <a href="<%= attachment.url %>" target="_blank"><%= attachment.filename %></a>
        </div>
      <% } else if (attachment.mimetype === 'text/plain') { %>
        <div class="panel-body">
          <span class="glyphicon glyphicon-paperclip"></span> <a href="<%= attachment.url %>" target="_blank"><%= attachment.filename %></a>
        </div>
      <% } else { %>
        <div class="panel-body">
          <span class="glyphicon glyphicon-paperclip"></span> <a href="<%= attachment.url %>" download="<%= attachment.filename %>"><%= attachment.filename %></a>
        </div>
      <% } %>
    <% }); %>
  </div>

  <div class="entry-images <%= images.length > 0 ? '' : 'hidden' %>">
    <% images.forEach(function (attachment) { %>
      <div class="panel-body entry-image-body">
        <a href="<%= attachment.url %>" target="_blank">
          <div class="entry-image-zoom-icon">
            <span class="glyphicon glyphicon-zoom-in"></span>
          </div>
          <img src="<%= attachment.thumburl %>" title="<%= attachment.filename %>">
        </a>
      </div>
    <% }); %>
  </div>

  <ul class="list-group entry-comments-container"></ul>

  <div id="entry-<%= entryId %>-footer" class="panel-footer">
    <button id="entry-<%= entryId %>-open-comment-form" type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-comment"></span> Add Comment</button>
  </div>
</div>
