<div id="tresdb-toolbar-main">

  <div class="btn-toolbar" role="toolbar">
    <div class="dropdown btn-group">
      <button id="tresdb-mainmenu" type="button" data-toggle="dropdown" class="dropdown-toggle btn btn-default btn-lg" aria-haspopup="true" aria-expanded="false">
        <%= glyphicon({ name: 'th-list' }) %>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="tresdb-mainmenu">
        <li>
          <a id="tresdb-mainmenu-add" href="#"><%= glyphicon({ name: 'map-marker' }) %> Add Location...</a>
        </li>
        <li>
          <a href="/crosshair"><%= glyphicon({ name: 'screenshot' }) %> Pinpointer...</a>
        </li>
        <li role="separator" class="divider"></li>
        <li>
          <a href="/latest"><%= glyphicon({ name: 'bell' }) %> Latest</a>
        </li>
        <li>
          <a href="/users"><%= glyphicon({ name: 'user' }) %> Explorers</a>
        </li>
        <li>
          <a href="/search"><%= glyphicon({ name: 'th-list' }) %> Locations</a>
        </li>
        <li>
          <a href="/statistics"><%= glyphicon({ name: 'signal' }) %> Statistics</a>
        </li>
        <li role="separator" class="divider"></li>
        <li>
          <a href="/import"><%= glyphicon({ name: 'import' }) %> Import...</a>
        </li>
        <li>
          <a href="/export"><%= glyphicon({ name: 'export' }) %> Export...</a>
        </li>

        <li role="separator" class="divider"></li>

        <% if (user.admin) { %>
          <li class="dropdown-header">Admin Only</li>
          <li>
            <a href="/invite"><%= glyphicon({ name: 'envelope' }) %> Invite...</a>
          </li>
          <li>
            <a href="/admin/users"><%= glyphicon({ name: 'user' }) %> Manage Users...</a>
          </li>
          <li role="separator" class="divider"></li>
        <% } %>

        <li>
          <a href="/fund"><%= glyphicon({ name: 'star' }) %> <%= supportButtonTitle %></a>
        </li>

        <li role="separator" class="divider"></li>

        <li class="dropdown-header"><%= user.name %></li>
        <li>
          <a href="/account"><%= glyphicon({ name: 'user' }) %> Account Settings</a>
        </li>
        <li>
          <a href="/login"><%= glyphicon({ name: 'off' }) %> Log out</a>
        </li>
      </ul>
    </div><!-- .dropdown -->

    <div class="btn-group" role="group" aria-label="Filter tools">
      <button id="tresdb-mainmenu-filter" class="btn btn-default btn-lg" type="button" title="Filter"><%= glyphicon({ name: 'filter' }) %>
        <span class="label label-danger<%= isFilterActive ? '' : ' hidden' %>">&nbsp;</span>
      </button>
    </div>

    <form id="tresdb-mainmenu-search-form" class="input-group">
      <input id="tresdb-mainmenu-search-text" type="text" class="form-control input-lg" placeholder="search...">
      <span class="input-group-btn">
        <button id="tresdb-mainmenu-search-submit" class="btn btn-default btn-lg" type="submit"><%= glyphicon({ name: 'search' }) %></button>
      </span>
    </form>
  </div><!-- .btn-toolbar -->

</div><!-- #main -->


<div id="tresdb-toolbar-addition" class="btn-toolbar hidden" role="toolbar">
  <div class="btn-group" role="group" aria-label="location tools">
    <button id="tresdb-addition-cancel" type="button" class="btn btn-default">Cancel</button>
  </div>

  <div class="btn-group" role="group" aria-label="location tools">
    <button id="tresdb-addition-create" type="button" class="btn btn-primary">Create here</button>
  </div>
</div>

<div id="tresdb-toolbar-progress" class="btn-toolbar hidden" role="toolbar">
  <div class="btn-group" role="group" style="width: 30em">
    <div class="progress">
      <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%">
        <span class="sr-only">Waiting for server</span>
      </div>
    </div>
  </div>
</div>

<div id="tresdb-toolbar-error" class="alert alert-danger hidden" role="alert">
  Failed to create location. Try again later.
</div>

<div id="tresdb-toolbar-error-too-close" class="alert alert-danger hidden" role="alert" style="font-size: 1.2em">
  <button type="button" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  Too close to another location. Maybe you could update the existing one instead.
</div>
