<div id="georap-toolbar-main">

  <div class="btn-toolbar" role="toolbar">
    <div class="dropdown btn-group">
      <button id="georap-mainmenu-btn" type="button" data-toggle="dropdown" class="mainmenu-btn dropdown-toggle btn btn-default btn-lg" aria-haspopup="true" aria-expanded="false">
        <img src="/assets/images/icons/128.png">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="georap-mainmenu-btn">

        <% if (able('locations-create')) { %>
          <li>
            <a id="georap-mainmenu-add" href="#"><%= glyphicon({ name: 'map-marker' }) %> <%= __('add-location') %></a>
          </li>
        <% } %>
        <% if (able('geometry')) { %>
          <li>
            <a href="/crosshair"><%= glyphicon({ name: 'screenshot' }) %> <%= __('coordinates') %></a>
          </li>
          <% if (able('locations-create')) { %>
            <li role="separator" class="divider"></li>
          <% } %>
        <% } %>

        <% if (able('posts-read')) { %>
          <li>
            <a href="/latest"><%= glyphicon({ name: 'bell' }) %> <%= __('latest') %></a>
          </li>
        <% } %>
        <% if (able('users')) { %>
          <li>
            <a href="/users"><%= glyphicon({ name: 'user' }) %> <%= __('users') %></a>
          </li>
        <% } %>
        <% if (able('locations-read')) { %>
          <li>
            <a href="/search"><%= glyphicon({ name: 'th-list' }) %> <%= __('locations') %></a>
          </li>
        <% } %>
        <% if (able('statistics')) { %>
          <li>
            <a href="/statistics"><%= glyphicon({ name: 'signal' }) %> <%= __('statistics') %></a>
          </li>
        <% } %>
        <% if (able('posts-read')) { %>
          <li role="separator" class="divider"></li>
        <% } %>

        <% if (able('locations-import')) { %>
          <li>
            <a href="/import"><%= glyphicon({ name: 'import' }) %> <%= __('import') %></a>
          </li>
        <% } %>
        <% if (able('locations-export-all')) { %>
          <li>
            <a href="/export"><%= glyphicon({ name: 'export' }) %> <%= __('export') %></a>
          </li>
        <% } %>
        <li role="separator" class="divider"></li>

        <% if (able('account-invite')) { %>
        <li class="dropdown-header"><%= __('admin-menu') %></li>
        <li>
          <a href="/invite"><%= glyphicon({ name: 'envelope' }) %> <%= __('invite') %></a>
        </li>
        <% } %>
        <% if (able('admin')) { %>
          <li>
            <a href="/admin/users"><%= glyphicon({ name: 'user' }) %> <%= __('manage-users') %></a>
          </li>
          <li role="separator" class="divider"></li>
        <% } %>

        <% if (config.enableSupportPage) { %>
          <li>
            <a href="/fund"><%= glyphicon({ name: 'star' }) %> <%= config.supportButtonTitle %></a>
          </li>
          <li role="separator" class="divider"></li>
        <% } %>

        <% if (able('account-edit')) { %>
        <li class="dropdown-header"><%= user.name %></li>
        <li>
          <a href="/account"><%= glyphicon({ name: 'user' }) %> <%= __('account-settings') %></a>
        </li>
        <li>
          <a href="/login"><%= glyphicon({ name: 'off' }) %> <%= __('log-out') %></a>
        </li>
        <% } %>
        <% if (able('account-login')) { %>
        <li>
          <a href="/login"><%= glyphicon({ name: 'user' }) %> <%= __('log-in') %></a>
        </li>
        <% } %>
      </ul>
    </div><!-- .dropdown -->

    <% if (able('locations-read')) { %>
    <div class="btn-group" role="group" aria-label="Filter tools">
      <button id="georap-mainmenu-filter" class="btn btn-default btn-lg" type="button" title="Filter"><%= glyphicon({ name: 'filter' }) %>
        <span class="label label-danger<%= isFilterActive ? '' : ' hidden' %>">&nbsp;</span>
      </button>
    </div>

    <form id="georap-mainmenu-search-form" class="input-group">
      <input id="georap-mainmenu-search-text" type="text" class="form-control input-lg" placeholder="<%= __('search-placeholder') %>">
      <span class="input-group-btn">
        <button id="georap-mainmenu-search-submit" class="btn btn-default btn-lg" type="submit"><%= glyphicon({ name: 'search' }) %></button>
      </span>
    </form>
    <% } %>
  </div><!-- .btn-toolbar -->

</div><!-- #main -->


<div id="georap-toolbar-addition" class="btn-toolbar hidden" role="toolbar">
  <div class="btn-group" role="group" aria-label="location tools">
    <button id="georap-addition-cancel" type="button" class="btn btn-default"><%= __('cancel') %></button>
  </div>

  <div class="btn-group" role="group" aria-label="location tools">
    <button id="georap-addition-create" type="button" class="btn btn-primary"><%= __('create-here') %></button>
  </div>
</div>

<div id="georap-toolbar-progress" class="btn-toolbar hidden" role="toolbar">
  <div class="btn-group" role="group" style="width: 30em">
    <div class="progress">
      <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%">
        <span class="sr-only">Waiting for server</span>
      </div>
    </div>
  </div>
</div>

<div id="georap-toolbar-error" class="alert alert-danger hidden" role="alert">
  Failed to create location. Try again later.
</div>

<div id="georap-toolbar-error-too-close" class="alert alert-danger hidden" role="alert" style="font-size: 1.2em">
  <button type="button" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  Too close to another location. Maybe you could update the existing one instead.
</div>
