<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1><%= __('pwd-reset-title') %></h1>
      <p><%= __('pwd-reset-for-account') %> <strong><%= email %></strong></p>
    </div>
    <div class="col-md-4">

      <div class="reset-password-no-match hidden">
        <div class="alert alert-danger" role="alert"><%= __('signup-password-mismatch') %></div>
      </div>

      <div class="reset-password-server-error hidden">
        <div class="alert alert-danger" role="alert"><%= __('pwd-reset-failed') %></div>
      </div>

      <div class="reset-password-token-error hidden">
        <div class="alert alert-danger" role="alert"><%= __('pwd-reset-expired') %></div>
      </div>

      <div class="reset-password-success hidden">
        <div class="alert alert-success" role="alert"><%= __('pwd-reset-success') %></div>
      </div>

      <form class="reset-password-form">
        <div id="georap-new-password-group" class="form-group">
          <label for="georap-input-new-password" class="control-label"><%= __('signup-password') %>:</label>
          <input type="password" class="form-control" id="georap-input-new-password">
        </div>
        <div id="georap-again-password-group" class="form-group">
          <label for="georap-input-again-password" class="control-label"><%= __('signup-password-repeat') %>:</label>
          <input type="password" class="form-control" id="georap-input-again-password">
        </div>
        <div class="reset-password-alert"></div>
        <button type="submit" class="btn btn-primary"><%= __('pwd-reset-submit') %></button>
      </form>

      <div class="reset-in-progress hidden">
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%">
            <span class="sr-only">Waiting</span>
          </div>
        </div>
      </div>

      <div class="reset-password-login hidden">
        <button type="button" class="continue-to-login-button btn btn-primary"><%= __('signup-continue') %></button>
      </div>
    </div>
  </div><!-- .row -->
</div><!-- .container-fluid -->
