<ul class="list-group">
<% if (locations.length === 0) { %>
  <li class="list-group-item text-muted center-block"><%= __('no-results') %></li>
<% } else { %>
  <% locations.forEach(function (loc) { %>
    <% var locUrl = '/locations/' + loc._id + '?&ref=latest'; %>
  <li class="list-group-item" data-locationid="<%= loc._id %>">
    <% if (loc.thumbnail) { %>
    <div class="location-item-thumbnail pull-right">
      <a href="<%= locUrl %>"><img src="<%= loc.thumbnail.thumburl %>"></a>
    </div>
    <% } else { %>
    <div class="location-item-thumbnail pull-right">
      <a href="<%= locUrl %>"><img src="/assets/images/markers/symbols/<%= loc.type %>.png" class="location-type-symbol" title="<%= loc.type %>.png"></a>
    </div>
    <% } %>
    <h4 class="location-title"><a href="<%= locUrl %>"><%= loc.name %></a></h4>
    <div class="location-description">
      <span class="location-status"><%= loc.status %></span>
      <span class="location-type"><%= loc.type %></span> <%= __('in-place') %>
      <%= loc.places.length > 0 ? placestamp(loc.places) : __('yet-undefined-place') %>
    </div>
    <div><%= __('locations-created-by') %> <a href=""><%= loc.creator %></a> <%= timestamp(loc.createdAt, locale) %></div>
  </li>
  <% }); %>
<% } %>
</ul>
<div class="text-muted" style="margin-top: -20px; margin-bottom: 5px;">
  <span class="glyphicon glyphicon-triangle-top" aria-label="Above"></span>
  <%= __('locations-showing') %> <%= skip + limit %> <%= __('locations-showing-of') %> <%= total %>
</div>
