<ul class="list-group">
<% if (locations.length === 0) { %>
  <li class="list-group-item text-muted center-block">No results</li>
<% } else { %>
  <% locations.forEach(function (loc) { %>
  <li class="list-group-item">
      <h4><a href="/locations/<%= loc._id %>?&ref=latest"><%= loc.name %></a></h4>
      <div style="color: gray; font-style: italic;">
        <span class="location-status"><%= loc.status %></span>
        <span class="location-type"><%= loc.type %></span> in
        <%= loc.places.length > 0 ? loc.places[0] : '' %>,
        <%= loc.places.length > 1 ? loc.places[loc.places.length - 1] : '' %>
      </div>
      <div>by <a href=""><%= loc.creator %></a> <%= timestamp(loc.createdAt) %></div>
      <% if (loc.thumbUrl) { %>
      <div class="location-item-thumbnail">
        <img src="<%= loc.thumbUrl %>">
      </div>
      <% } %>
  </li>
  <% }); %>
<% } %>
</ul>
<div class="text-muted" style="margin-top: -20px; margin-bottom: 5px;">
  <span class="glyphicon glyphicon-triangle-top" aria-label="Above"></span>
  Showing <%= skip + limit %> locations out of <%= total %>
</div>
