<tr class="tresdb-batch-details">
  <td colspan="4">
    <h3><%= name %></h3>

    <p>
      <strong>Latitude:</strong> <%= latitude %><br>
      <strong>Longitude:</strong> <%= longitude %>
    </p>

    <% descriptions.forEach(function (desc, index) { %>
      <div class="panel panel-default">
        <div class="panel-heading">
          Post #<%= index + 1 %>
        </div>
        <div class="panel-body">
          <%= desc %>
        </div>
      </div>
    <% }); %>

    <% overlays.forEach(function (overlay, index) { %>
      <div class="panel panel-default">
        <div class="panel-heading">
          Overlay #<%= index + 1 %>
        </div>
        <div class="panel-body">
          <img src="<%= overlay.href %>" style="max-width: 100%">
        </div>
      </div>
    <% }); %>
  </td>
</tr>
